@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Figtree", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.navbar {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 100px;
  background-color: white;
}

.logo {
    height: 58px;
    width: 231px;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 500;
}

.nav-button {
  height: 46px;
  width: 147px;
  font-size: 18px;
  font-weight: 500;
  color: white;
  background-color: #fa1239;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 25px rgba(250, 18, 57, 0.4);
  transition: all 0.3s ease;
  text-transform: capitalize;
  white-space: nowrap;
}

.nav-button:hover {
  box-shadow: 0 0 35px rgba(250, 18, 57, 0.7);
}

.menu-icon{
  display: none;
}

.side-nav{
  display: none;
}

.hero-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 709px;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(255, 195, 205, 1) 0%,
    rgba(255, 229, 233, 1) 100%
  );
  overflow: hidden;
}

.hero-left {
  position: absolute;
  left: 6.5vw;
  top: 19%;
  width: 620px;
  height: 510px;
  display: flex;
  flex-direction: column;
  gap: 38px;
}

.hero-left h1 {
  height: 252px;
  width: 620px;
  font-size: 64px;
  font-weight: bold;
  line-height: mixed;
  letter-spacing: 0;
  text-transform: capitalize;
}

.underline-container {
  position: relative;
  display: inline-block;
  color: #fa1239;
}

.curved-underline-img {
  position: absolute;
  width: 100%;
  bottom: -15px;
  left: 0;
  pointer-events: none;
  margin-bottom: 4px;
}

.hero-left p {
  height: 136px;
  width: 485px;
  font-size: 16px;
  line-height: 34px;
  letter-spacing: 0;
  text-transform: capitalize;
}

#hero-btn {
  font-size: 18px;
  font-weight: 500;
  padding: 14px 22px;
  border-radius: 30px;
  line-height: auto;
  letter-spacing: 0;
  cursor: pointer;
  text-transform: uppercase;
}

.hero-buttons {
  display: flex;
  align-items: center;
  gap: 24px;
}

.hero-buttons .btn1 {
  border: 2px solid #fa1239;
  color: #fa1239;
  background-color: white;
  box-shadow: 0 0 25px rgba(250, 18, 57, 0.3);
  transition: all 0.3s ease;
}

.hero-buttons .btn2 {
  color: white;
  background-color: #fa1239;
  border: none;
  box-shadow: 0 0 25px rgba(250, 18, 57, 0.4);
  transition: all 0.3s ease;
}

.hero-buttons .btn1:hover {
  box-shadow: 0 0 35px rgba(250, 18, 57, 0.5);
}

.hero-buttons .btn2:hover {
  box-shadow: 0 0 35px rgba(250, 18, 57, 0.7);
}

.hero-right {
  position: relative;
  left: 20%;
  top: 2%;
  height: 727px;
  width: 633px;
}

.hero-right .hero-img {
  position: absolute;
}

.our-service{
    height: 708px;
    width: 100%;
}

.our-service .service-header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 26px;
    margin-top: 3.5vw;
}

.service-header button{
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    padding: 10px 20px;
    border-radius: 6px;
    border: none;
    background-color: #FFDFE4;
    transition: all 0.3s ease;
    cursor: pointer;
    line-height: auto;
}

.service-header button:hover{
    background-color: #FFD4DB;
}

.service-header h2{
    font-size: 26px;
    font-weight: 600;
    text-transform: capitalize;
}

.our-service .service-main{
    height: 450px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 3vw;
}

.service-main .service-card{
    height: 450px;
    width: 298px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;
    padding: 20px 20px;
    border-radius: 20px;
    border: none;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.service-card .card-img{
    width: 200px;
    height: 150px;
}

.service-card .card-text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
}

.service-card .card-text h6{
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    min-height: 50px;
}

.service-card .card-text p{
    font-size: 18px;
    font-weight: 400;
    line-height: 1.9vw;
}







/* Responsive For Tablet */
@media (max-width:768px) {
  
.navbar {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0vw 30px;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.logo {
    height: 45px;
    width: auto;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-weight: 500;
}

.nav-button {
  height: 40px;
  width: 130px;
  font-size: 15px;
  padding: 10px 15px;
  color: white;
  background-color: #fa1239;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 25px rgba(250, 18, 57, 0.4);
  transition: all 0.3s ease;
  text-transform: capitalize;
  white-space: nowrap;
}

.hero-section {
  height: 80vh;
  width: 100%;
}

.hero-left {
  position: absolute;
  left: 6.5vw;
  top: 19%;
  width: 40vw;
  height: 73vh;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.hero-left h1 {
  height: 122px;
  width: 320px;
  font-size: 4.1vw;
}

.curved-underline-img {
  margin-bottom: 8px;
}

.hero-left p {
  height: 106px;
  width: 285px;
  font-size: 1.5vw;
  line-height: 18px;
}

#hero-btn {
  font-size: 1.5vw;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 30px;
  line-height: auto;
}

.hero-buttons {
  display: flex;
  align-items: center;
  gap: 14px;
}

.hero-right {
  position: relative;
  left: 20%;
  top: 7%;
  height: 70vh;
  width: 45vw;
}

.hero-right .hero-img {
  position: absolute;
  left: 0%;
  top: 0%;
  height: 70vh;
  width: 50vw;
}

.our-service{
    height: 77vh;
    width: 100%;
}

.our-service .service-header{
    gap: 1.7vw;
    margin-top: 3.5vw;
}

.service-header button{
    font-size: 15px;
}

.service-header h2{
    font-size: 16px;
}

.our-service .service-main{
    height: 100%;
    width: 100%;
    gap: 10px;
    margin-top: 3vw;
}

.service-main .service-card{
    height: 54vh;
    width: 22vw;
    gap: 10px;
    padding: 10px 10px;
}

.service-card .card-img{
    width: 200px;
    height: 150px;
}

.service-card .card-text{
    gap: 10px;
}

.service-card .card-text h6{
    font-size: 15px;
}

.service-card .card-text p{
    font-size: 12px;
    line-height: 1.7vw;
}
}



/* Responsive For Mobile */
@media (max-width:480px) {

.navbar {
  height: 60px;
  width: 100%;
  padding: 2vw 3vw;
}

.logo {
    height: 38px;
    width: auto;
}

.nav-links {
  display: none;
}

.nav-button {
  display: none;
}
.menu-icon{
  display: block;
}

.menu-icon i{
  font-size: 7vw;
}

.close-icon{
  position: absolute;
  top: 3%;
  right: 7%;
  font-size: 25px;
}

.side-nav{
  position: absolute;
  right: -50%;
  top: 0;
  height: 100%;
  width: 50vw;
  display: none;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10vw;
  padding: 5vw 5vw;
  z-index: 1;
  background-color: #ffffff;

}

.side-nav .side-nav-links{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 3vw; 
  margin-top: 20vw;
}

.side-nav .side-nav-links img{
  height: 5vw;
}

.side-nav-button{
  height: 35px;
  width: 120px;
  font-size: 15px;
  padding: 8px 18px;
  color: white;
  background-color: #fa1239;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 25px rgba(250, 18, 57, 0.4);
  transition: all 0.3s ease;
  text-transform: capitalize;
  white-space: nowrap;
}

.side-nav-links a{
  text-decoration: none;
  color: black;
  font-size: 5.5vw;
}

.hero-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 130vh;
  width: 100%;
}

.hero-left {
  position: absolute;
  left: 0;
  top: 0%;
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  gap: 10vw;
  padding: 5vw;
}

.hero-left h1 {
  height: 50vw;
  width: 100%;
  font-size: 10vw;
  margin-top: 10vw;
}

.curved-underline-img {
  margin-bottom: 9px;
}

.hero-left p {
  height: 40vw;
  width: 100%;
  font-size: 4vw;
  line-height: 20px;
}

#hero-btn {
  font-size: 4vw;
  font-weight: 500;
  padding: 10px 15x;
  border-radius: 30px;
}

.hero-buttons {
  gap: 14px;
}

.hero-right {
  position: absolute;
  left: 0%;
  top: 57%;
  height: 70vh;
  width: 100%;
}

.hero-right .hero-img {
  position: absolute;
  height: 57vh;
  width: 100%;
  padding: 0vw 3vw;
}

.our-service{
    height: 210vh;
    width: 100%;
}

.our-service .service-header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3vw;
    margin-top: 5vw;
    text-align: center;
}

.service-header button{
    font-size: 13px;
}

.service-header h2{
    font-size: 15px;
}

.our-service .service-main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 7vw;
}

.service-main .service-card{
    height: 50vh;
    width: 70vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
    padding: 15px 15px;
}

.service-card .card-img{
    width: 200px;
    height: 150px;
}

.service-card .card-text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0px;
}

.service-card .card-text h6{
    font-size: 16px;
}

.service-card .card-text p{
    font-size: 14px;
    line-height: 5vw;
}
  
}